@import "/src/stylesVariables.scss";

.specialContainer {
  min-height: 539px;
  padding: 0 15px;
  position: relative;
  top: 0;
  left: 0;

  @media (max-width: $media567) {
    padding: 0;
    min-height: 105vw;
  }

  &__image {
    position: absolute;

    &--first {
      top: 0;
      right: 0;

      @media (max-width: $media840) {
        width: 55vw;
      }

      @media (max-width: $media768) {
        width: 499px;
      }

      @media (max-width: $media567) {
        width: 92vw;
      }
    }

    &--second {
      bottom: 0;
      left: 15px;

      @media (max-width: $media768) {
        left: 235px;
      }

      @media (max-width: $media567) {
        left: 220px;
        width: 46vw;
      }

      @media (max-width: $media390) {
        left: 100px;
      }
    }
  }
}
