.specialContainer {
  min-height: 539px;
  padding: 0 15px;
  position: relative;
  top: 0;
  left: 0;

  &__image {
    position: absolute;

    &--first {
      top: 0;
      right: 0;

      @media (max-width: 850px) {
        width: 400px;
      }
    }

    &--second {
      bottom: 0;
      left: 15px;
    }
  }
}
