@import "/src/stylesVariables.scss";

.swiper {
  display: flex;
  width: 1185px;

  @media (max-width: $media768) {
    width: calc(100vw - 78px);
  }
}

.slide {
  width: 379px;
  height: 527px;

  @media (max-width: $media768) {
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
