@import "/src/stylesVariables.scss";

.swiperSection {
  @include desktopMaxWidth;
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 44px;
  padding-bottom: 152px;

  @media (max-width: $media768) {
    grid-template-columns: 1fr;
    padding-bottom: 112px;
  }

  @media (max-width: $media390) {
    padding-bottom: 57px;
  }

  &__article {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: $media768) {
      align-items: center;
      gap: 48px;
    }

    @media (max-width: $media390) {
      gap: 26px;
    }
  }
}

.content {
  @media (max-width: $media768) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }

  @media (max-width: $media390) {
    padding: 0;
  }
}

.desktopSwiperContainer {
  @media (max-width: $media768) {
    display: none;
  }
}

.mobileSwiperContainer {
  display: none;

  @media (max-width: $media768) {
    display: block;
  }
}
