@import "/src/stylesVariables.scss";

.socialButtons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}
