@import "/src/stylesVariables.scss";

.buttons {
  display: flex;
  gap: 12px;
}

.buttonLink {
  color: white;
  background-color: #3482ff;
  padding: 28px 55px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 16px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &:hover {
    filter: brightness(120%);
  }

  @media (max-width: $media1230) {
    padding: 20px 30px;
  }

  @media (max-width: $media976) {
    font-size: 14px;
  }

  @media (max-width: $media768) {
    padding: 28px 55px;
    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: $media450) {
    width: 100%;
  }

  &--transparent {
    color: #3482ff;
    background: none;

    &:hover {
      background-color: #3482ff;
      color: white;
    }
  }
}
