@import "/src/stylesVariables.scss";

.monitoringList {
  margin: 24px 0 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 8px;

  @media (max-width: $media976) {
    justify-content: center;
    margin-top: 16px;
  }

  &__item {
    display: inline-block;
    padding: 3px 17px;
    border: 1px solid;
    border-radius: 32px;
  }
}
