@import "/src/stylesVariables.scss";

.sectionHeader {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;

  &__heading {
    margin: 16px 0;

    @media (max-width: $media768) {
      margin: 15px 0 0;
      font-size: 40px;
      line-height: 48px;
    }

    @media (max-width: $media390) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
