@import "/src/stylesVariables.scss";

.heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
  color: #0b0b0b;
  margin: 32px 0;

  @media (max-width: $media976) {
    font-size: 40px;
    line-height: 52px;
  }

  @media (max-width: $media768) {
    font-size: 50px;
    line-height: 66px;
  }

  &--socialMarketing {
    color: #fff;
    max-width: 565px;

    @media (max-width: $media976) {
      font-size: 38px;
      line-height: 54px;
    }

    @media (max-width: $media840) {
      font-size: 30px;
      line-height: 46px;
    }

    @media (max-width: $media768) {
      font-size: 50px;
      line-height: 66px;
    }

    @media (max-width: $media390) {
      margin: 20px 0 28px;
      font-size: 45px;
      line-height: 55px;
    }

    @media (max-width: 350px) {
      font-size: 40px;
    }
  }

  &--swiper {
    margin: 16px 0 24px;

    @media (max-width: $media768) {
      max-width: 467px;
      font-size: 47px;
      line-height: 57px;
      margin: 19px auto 28px auto;
    }

    @media (max-width: $media390) {
      font-size: 32px;
      line-height: 55px;
    }
  }

  &--reputation {
    margin: 16px 0 24px;

    @media (max-width: $media390) {
      margin: 20px 0 18px;
      font-size: 32px;
      line-height: 39px;
    }
  }

  &--growthStrategy {
    margin: 16px 0 58px;
    max-width: 500px;

    @media (max-width: $media976) {
      margin-bottom: 26px;
    }

    @media (max-width: $media768) {
      margin: 14px auto 30px auto;
    }

    @media (max-width: $media390) {
      font-size: 32px;
      line-height: 42px;
      margin: 20px auto 24px auto;
    }
  }

  &--monitoring {
    margin: 16px 0 58px;
    max-width: 500px;

    @media (max-width: $media976) {
      margin-bottom: 16px;
    }

    @media (max-width: $media768) {
      font-size: 45px;
      line-height: 54px;
      margin: 14px 0 30px;
    }

    @media (max-width: $media390) {
      font-size: 35px;
      line-height: 42px;
      margin: 20px 0 24px;
    }
  }

  &--questions {
    margin: 16px 0;

    @media (max-width: $media768) {
      margin: 15px 0 0;
      font-size: 40px;
      line-height: 48px;
    }

    @media (max-width: $media390) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
