@import "/src/stylesVariables.scss";

.monitoring {
  @include desktopMaxWidth;
  display: grid;
  grid-template-columns: minmax(350px, 633px) minmax(350px, 530px);
  align-items: center;
  column-gap: 61px;
  padding-bottom: 0;

  @media (max-width: $media976) {
    column-gap: 6px;
  }

  @media (max-width: $media768) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__article {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: $media976) {
      gap: 16px;
    }

    @media (max-width: $media768) {
      gap: 50px;
      align-items: center;
    }

    @media (max-width: $media390) {
      gap: 32px;
    }
  }
}

.content {
  @media (max-width: $media768) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
}
