@import "/src/stylesVariables.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    max-width: 445px;
  }
}

.image {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/monitoring.png");
}

.iconsContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -10;
  top: 0;
  left: 0;
  animation: spin 8s linear infinite;
}

.icon {
  position: absolute;

  @media (max-width: $media390) {
    display: none;
  }

  &--first {
    top: -71px;
    left: -30px;
  }

  &--second {
    bottom: 71px;
    right: 0;
  }
}
