@import "/src/stylesVariables.scss";

.sectionWrapper {
  background-color: #292f3e;
}

.social {
  @include desktopMaxWidth;
  display: grid;
  grid-template-columns: minmax(0, 600px) 1fr;
  column-gap: 50px;
  padding-top: 195px;
  padding-bottom: 112px;

  @media (max-width: $media1230) {
    column-gap: 20px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}
