@import "/src/stylesVariables.scss";

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fly {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.rotatedShape {
  position: absolute;
  z-index: -10;
  animation: rotate 3s linear infinite;

  &--swiperFirst {
    top: -49px;
    left: -103px;
    animation-delay: 0.2s;

    @media (max-width: $media1400) {
      left: 350px;
    }

    @media (max-width: $media768) {
      left: 45px;
      top: -30px;
    }

    @media (max-width: $media567) {
      left: 24px;
      top: -72px;
    }
  }

  &--swiperSecond {
    bottom: -66px;
    right: 83px;
    animation-delay: 0.1s;

    @media (max-width: $media768) {
      display: none;
    }
  }

  &--reputation {
    animation-delay: 0.3s;
    top: -98px;
    right: 16px;

    @media (max-width: $media768) {
      display: none;
    }
  }
}

.floatingShape {
  position: absolute;
  z-index: -10;
  animation: fly 3s linear infinite;

  &--reputation {
    right: -53px;
    bottom: -35px;

    @media (max-width: $media1230) {
      right: 25px;
      bottom: -45px;
    }

    @media (max-width: $media768) {
      display: none;
    }
  }
}
