@mixin desktopMaxWidth {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $media976) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: $media450) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

$media1230: 1230px;
$media976: 976px;
$media840: 840px;
$media768: 768px;
$media567: 567px;
$media450: 450px;
$media390: 390px;
