@import "/src/stylesVariables.scss";

.whatWeDo {
  @include desktopMaxWidth;
  display: grid;
  grid-template-columns: minmax(350px, 585px) minmax(300px, 561px);
  align-items: flex-start;
  column-gap: 54px;
  padding-bottom: 112px;
  padding-top: 63px;

  @media (max-width: $media1230) {
    align-items: center;
    column-gap: 30px;
  }

  @media (max-width: $media768) {
    grid-template-columns: 1fr;
    padding-bottom: 152px;
  }

  @media (max-width: $media390) {
    padding-top: 0;
    padding-bottom: 121px;
  }

  &__article {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.content {
  margin-top: 28px;

  @media (max-width: $media1230) {
    margin-top: 0;
  }

  @media (max-width: $media768) {
    margin-top: 50px;
    text-align: center;
  }

  @media (max-width: $media390) {
    margin-top: 0;
  }
}
