.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questionContainer {
  border: 1px solid #f4f4f4;
  border-radius: 20px;
}

.question {
  padding: 33px 25px;
}

.questionButton {
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #edf2fa;
    transition: 0.3s;
    flex-shrink: 0;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  &--active {
    max-height: 300px;
  }

  &__text {
    margin: 0;
    padding: 17px 81px 30px 51px;
    border-top: 1px solid #f4f4f4;
    font-size: 16px;
    line-height: 27px;
    color: #666;
  }
}
