@import "/src/stylesVariables.scss";

.hero {
  @include desktopMaxWidth;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 66px;
  padding-top: 120px;
  padding-bottom: 196px;

  @media (max-width: $media1230) {
    column-gap: 25px;
  }

  @media (max-width: $media768) {
    padding-top: 152px;
    padding-bottom: 147px;
    grid-template-columns: repeat(1, 1fr);
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 64px;
  }
}

.content {
  @media (max-width: $media768) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
}
